@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin textstyle($fontsize, $color, ){
    font-size: $fontsize;
    color: $color;
}
@mixin media($size){
    @if($size == M){
        @media (max-width: 768px){
            @content;
        }
    }
    @else if($size == L){
        @media (min-width: 768px) and (max-width: 1200px){
            @content;
        }
    }
    @else if($size == S){
        @media (min-width: 0px) and (max-width: 480px){
            @content;
        }
    }
 }